
body {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.navbar {
  top: 0;
  position: fixed;
  overflow: hidden;
  min-width: 99%;
}

div.results {
  height: 100vh;
  margin-top: 50px;
  overflow-y: auto;
}

div.selected {
  background-color: lightblue;
}

/* Navigation */

input {
  width: 99%;
}

/* Result CSS */

div.result, div.action {
  display: flex;
  align-items: center;
  justify-content: left;
}

div.result > div, div.action > div {
  margin: 2px 5px;
}

div.result > div.icon {
  width: 4%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.result > div.icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.result > div.name {
  width: 30%;
}

div.result > div.comment {
  flex: 1;
}

/* Action CSS */

div.actions {
  display: none;
  padding-left: 5%;
}

div.action-name {
  width: 50%;
}

div.actions.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
