html,
body,
.content {
  margin: 0;
}

body {
  overflow: hidden;
  padding-top: 60px;
}

body>div {
  height: -webkit-fill-available;
  overflow: hidden;
}

.navbar {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  width: -webkit-fill-available;
}

.results {
  cursor: pointer;
  overflow-y: auto;
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  scroll-margin-top: 60px;
}

.selected {
  background-color: lightblue;
}

/* Navigation */

#search:invalid {
  border: 1px solid red;
}

input {
  width: -webkit-fill-available;
  height: 5vw;
  border: none;
  outline: none;
  padding: 5px;
  font-size: large;
}

/* Result CSS */

.result,
.action {
  display: flex;
  align-items: center;
  justify-content: left;
}

.result>div,
.action>div {
  margin: 2px 5px;
}

.icon {
  width: 4%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  width: 30%;
}

.comment {
  flex: 1;
}

/* Action CSS */

.actions {
  display: none;
  padding-left: 5%;
}

.action-name {
  width: 50%;
}

.actions.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
