body {
  padding: 0;
}

.navbar {
  width: 0;
  height: 0;
}

.results {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
}

.result {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 10rem;
}

.icon {
  width: 100%;
  font-size: 6rem;
}

.entry {
  font-size: 1rem;
}
