* {
	font-family: monospace;
	color: white;
}

html {
	background-color: #383C4A;
}

#search {
	border: none;
	background-color: #383C4A;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

.navbar:after {
	content: "";
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid black;
	width: 99%;
}

.result-entry:nth-child(odd){
	background-color: #404552;
}

.selected {
  background-color: #5291e2; 
}
